# Movies {{ actor_name }} Appears Within

{% if actor %}
    {% for row in actor %}
        ## {{ row[11] }}
        {% for data in row %}
            * {{ data }}
        {% endfor %}
    {% endfor %}
{% else %}
    No data found for actor.
{% endif %}


{% include "markdeep.j2" %}
