# mini-rh-project

View the top 10 genres, actors, or directors by profitability:

* [`/top10/directors`](http://localhost:8000/top10/directors)
* [`/top10/actors`](http://localhost:8000/top10/actors)
* [`/top10/genres`](http://localhost:8000/top10/genres)

View relevant data about each movie that an actor appeared in:

* [Harrison Ford](http://localhost:8000/actor/Harrison%20Ford)
* [Scarlett Johansson](http://localhost:8000/actor/Scarlett%20Johansson)

{% include "markdeep.j2" %}
